# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/
My project/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.suo

# Unity crash reports
sysinfo.txt
*.stackdump

# OS
.DS_Store
Thumbs.db
